main {
    position: absolute;
    height: calc(80% - 96px);
    width: 100%;
    background: #fafafa;
}

aside {
    position: absolute;
    right: 0;
    height: calc(20% - 24px);
    width: 100%;
    background: #f5f5f5;
    padding: 0 16px;
    overflow-x: hidden;
}

fieldset {
    width: 100%;
    margin-top: 16px;
    padding-top: 0;
    padding-bottom: 0;
    word-break: break-all;
}

.element {
    display: block;
    width: 200px;
    margin-bottom: 16px;
    padding: 4px 8px;
}

#curtain {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: white;
    opacity: 0.8;
}

#loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#subtitle {
    display: block;
    margin-top: 4px;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#title-link {
    font-weight: bold;
    color: white;
}

#profile-link {
    color: white;
}

@media (min-width: 600px) {

    /* main, aside {
        float: left;
    } */

    main {
        height: calc(100% - 120px);
        width: calc(100% - 400px);
    }

    aside {
        height: calc(100% - 120px);
        width: 360px;
        border-top: none;
    }
}