<app-cabecera></app-cabecera>

<!-- <angular-epub-viewer #epubViewer></angular-epub-viewer>
<input type="file" accept="application/epub+zip" (change)="openFile($event)">
<button (click)="epubViewer.previousPage()">Previous page</button>
<button (click)="epubViewer.nextPage()">Next page</button> -->

<main>
    <angular-epub-viewer [padding]="'0px'" [autoPagination]="true" [autoMetadata]="true" [autoTOC]="true"
                         (onDocumentReady)="onDocumentReady()" (onChapterUnloaded)="onChapterUnloaded()"
                         (onChapterDisplayed)="onChapterDisplayed($event)" (onSearchFinished)="onSearchFinished($event)"
                         (onPaginationComputed)="onPaginationComputed($event)" (onLocationFound)="onLocationFound($event)"
                         (onMetadataLoaded)="onMetadataLoaded($event)" (onTOCLoaded)="onTOCLoaded($event)"
                         (onErrorOccurred)="onErrorOccurred($event)" #epubViewer>
    </angular-epub-viewer>
    <ng-container *ngIf="lockPagination">
        <div id="curtain"></div>
        <i id="loading" class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
    </ng-container>
</main>
<aside>
    <fieldset>
        <!-- <p>Select epub document</p>
        <select [disabled]="lockDocumentChoose" class="element" [(ngModel)]="chosenDocument" (change)="onSelectedBook()">
            <option *ngFor="let book of zippedBooks" [ngValue]="book">
                {{ book.name }}
            </option>
        </select> -->
        <p style="margin-top: 4px;">Escoja un documento Epub</p>
        <!-- <input [disabled]="lockDocumentChoose" style="margin-bottom: 4px;" #picker type="file"
               accept="application/epub+zip" (change)="openFile($event)"> -->
            <input type="file" accept="application/epub+zip" (change)="openFile($event)">
        <!-- <p>Select unzipped epub document</p>
        <select [disabled]="lockDocumentChoose" class="element" [(ngModel)]="chosenDocument" (change)="onSelectedBook()">
            <option *ngFor="let book of unzippedBooks" [ngValue]="book">
                {{ book.name }}
            </option>
        </select> -->
    </fieldset>
    <fieldset>
        <p>Paginación</p>
        <p>Página: {{ epubViewer.currentLocation.page ? epubViewer.currentLocation.page : 0 }} of {{ totalPages }}</p>
        <button [disabled]="lockPagination" class="button" (click)="epubViewer.previousPage()">
            Anterior
        </button>
        <button [disabled]="lockPagination" class="button" (click)="epubViewer.nextPage()">Siguiente
        </button>
        <!-- <p>Start CFI: {{ epubViewer.currentLocation.startCfi ? epubViewer.currentLocation.startCfi : 'unknown' }}</p>
        <p>End CFI: {{ epubViewer.currentLocation.endCfi ? epubViewer.currentLocation.endCfi : 'unknown' }}</p>
        <p>Chapter CFI: {{ epubViewer.currentLocation.chapter && epubViewer.currentLocation.chapter.cfi ?
            epubViewer.currentLocation.chapter.cfi : 'unknown' }}</p>
        <p>Chapter href: {{ epubViewer.currentLocation.chapter && epubViewer.currentLocation.chapter.href ?
            epubViewer.currentLocation.chapter.href : 'unknown' }}</p>
        <p>Chapter label: {{ epubViewer.currentLocation.chapter && epubViewer.currentLocation.chapter.label ?
            epubViewer.currentLocation.chapter.label : 'unknown' }}</p>
        <p>Chapter spine position: {{ epubViewer.currentLocation.chapter && epubViewer.currentLocation.chapter.spinePos ?
            epubViewer.currentLocation.chapter.spinePos : 'unknown' }}</p> -->
    </fieldset>
    <fieldset>
        <p>Table of contents</p>
        <select [disabled]="lockTOC" class="element" [(ngModel)]="chosenChapter" (change)="onChapter()">
            <option *ngFor="let chapter of chapters" [ngValue]="chapter">
                {{ chapter.label }}
            </option>
        </select>
    </fieldset>
    <fieldset style="margin-bottom: 16px;">
        <p>Buscar <i>en la página actual</i></p>
        <input [disabled]="lockSearch" class="element" type="text" [(ngModel)]="searchText" (change)="onSearchPrinted()">
        <div style="margin-bottom: 16px;">{{ matchesCount }} coincidencias</div>
    </fieldset>
    <fieldset style="margin-bottom: 16px;">
        <p>Padding</p>
        <select class="element" [(ngModel)]="chosenPadding" (change)="onPaddingChosen()">
            <option *ngFor="let padding of paddings" [ngValue]="padding">
                {{ padding }}
            </option>
        </select>
        <p>Tamaño de la letra</p>
        <select class="element" [(ngModel)]="chosenFontSize" (change)="onFontSizeChosen()">
            <option *ngFor="let fontSize of fontSizes" [ngValue]="fontSize">
                {{ fontSize }}
            </option>
        </select>
    </fieldset>
    <fieldset style="margin-bottom: 16px;">
        <p>Metadata</p>
        <div style="margin-bottom: 16px;" #metadata></div>
    </fieldset>
</aside>

<app-pie></app-pie>
